{% extends 'bootstrap3/bootstrap3.html' %}

{% block bootstrap3_title %}{% block title %}{% endblock %}{% endblock %}

{% load bootstrap3 %}

{% block bootstrap3_content %}
    <div class="container">
        <nav  class="navbar navbar-default">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav nav-pills">
                    <li><a href="{% url 'index' %} ">Домой  <span class="glyphicon glyphicon-home"></span> </a></li>
                    <li><a href="{% url 'list_run' %} ">Запустить  <span class="glyphicon glyphicon-play"></span> </a></li>
                    <li><a href="{% url 'add_test' %}">Добавить тест  <span class="glyphicon glyphicon-plus"></span></a></li>
                    <li><a href="{% url 'delete_test' %}">Удалить тест  <span class="glyphicon glyphicon-minus"></span></a></li>
                </ul>
            </div>
        </nav>

        <div class="col-xs-4">
        {% block content %}{% endblock %}
        </div>
        {% block content_full %}{% endblock %}
    </div>
{% endblock %}