{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}Старт{% endblock %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Выберете тест</label>
            <select name="name" class="form-control">
                {% for name in list_test %}
                    <option>{{ name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Запустить</button>
    </form>

{% endblock %}