{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}Старт{% endblock %}

{% block content_full %}

    <table class="table table-striped">
        <thead class="thead-default">
            <tr>
                <th>№</th>
                <th>Имя теста</th>
                <th>Строка запуска</th>
            </tr>
        </thead>

        {% for id, name, run in list_test %}
            <tr>
                <th scope="row">{{ id }}</th>
                <td>{{ name }}</td>
                <td>{{ run }}</td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}